[run]
source = .
branch = true
# Wrong warning caused by include used in [report] (Coveragepy 4.4.2)
# Ref: https://bitbucket.org/ned/coveragepy/issues/621
disable_warnings = include-ignored
parallel = true

[report]
show_missing = true
include = covimerage/*,tests/*
